<!DOCTYPE html>
<html>
<head>
  <title>Wheres Waldo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body id=<%= "#{controller_name}-#{action_name}" %>>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          Where's Waldo?
        </a>

        <p class="navbar-text navbar-right">Elapsed Time: <span id="clock">  </span></p>

        <button class="finish-btn btn btn-success navbar-btn hidden">Finish</button>

        <button class="reset-btn btn btn-warning navbar-btn hidden">Reset</button>
      </div>
    </div>
  </nav>

  <!-- <main class="container"> -->
    <%= yield %>
  <!-- </main> -->

</body>
</html>
